%p#notice= notice

%p
  %b Firstname:
  = @employee.firstname
%p
  %b Lastname:
  = @employee.lastname
%p
  %b Birthday:
  = @employee.birthday.strftime('%d-%m-%Y')
%p
  %b Email:
  = @employee.email
%p
  %b Comment:
  = @employee.comment

= link_to 'Edit', edit_employee_path(@employee), :class => 'btn btn-link'
\|
= link_to 'Back', employees_path, :class => 'btn btn-link'
